@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --yellow: #f8bc09;
    --light-yellow: #fae245;
    --black: #050505;
    --light-color: #000000;
    --border: .2rem solid rgba(0, 0, 0, 0.1);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

section {
    padding: 2rem 9%;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    background: var(--light-yellow);
    padding: .8rem 3rem;
    color: var(--black);
    font-size: 1.7rem;
    font-weight: 500;
    cursor: pointer;
}


.btn:hover {
    background: var(--yellow);
}

#menu-btn {
    display: none;
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

/*NAVBAR*/

.header form{
    display: flex;
  }

.header .logo {
    font-size: 25px;
    font-weight: bolder;
    color: var(--black);
}
.header form #search{
    height: 40px;
    width: 600px;
    background:none;
    outline: none;
    border:3px solid rgb(4, 4, 4);
    color:#fff;
    padding:0 10px;
    font-size: 17px;
  }
  .header form ::placeholder{
    color:rgb(233, 230, 230);
  }

.header form label{
    height: 40px;
    width: 60px;
    background:rgb(12, 12, 12);
    color:#fff;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
  }
  .header form label:hover{
    color:rgba(233, 9, 9, 0.533);
  }

.header .logo span {
    color:#f8db1b;;
}

.header .btn {
    margin-top: 0;
}

.header .header-1 #login-btn i{
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
    display: none;
}

.header .header-1 #signup-btn i {
    display: none;
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
}


.header.active {
    box-shadow: var(--box-shadow);
    padding: 2rem 9%;
}

.header .header-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#f64848;
    width: 100%;
    padding:10px 20px;
  }
  
.header .header-2{
    display:flexbox;
    align-items:end;
    justify-content: space-between;
    background:#000000;
    width: 100%;
    padding:10px 20px;
  }
  
  .header .header-2 .navbar ul{
    display: flex;
    align-items:center;
    justify-content: space-between;
    list-style: none;
  }
  
  .header .header-2 .navbar ul li{
    margin:7.5px;
  }
  
  .header .header-2 .navbar ul li a{
    color:#fff;
    margin: 0 1rem;
    font-size: 20px;
    text-align: center;
  }
  
  header .header-2 .navbar ul li a:hover{
    color:#fff8;
  }
  #menu-btn{
    font-size: 30px;
    color:#fff;
    cursor: pointer;
    display: none;
  }

  .header .header-2.sticky{
    position: fixed;
    top: 0; left: 0;
    box-shadow: 0 3px 5px #333;
  }

  .header .header-1 #login-btn i{
    display: none;
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
}

body{
    line-height: 1.5;
}

.background img{
    position: absolute;
    opacity:1;
    max-width:1700px;
    max-height:900px;
}

.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
    border: 5px groove rgba(225, 104, 12, 0.912);
    position: relative;
}
.img-showcase{
    display: flex;
    position: relative;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
    position: relative;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
    border: 5px groove rgba(164, 142, 17, 0.912);
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #f1f1f1;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #fafafa;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #faf5f5;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}

.new-price span{
    color: #fc0404;
    font-size: 1.5rem;
}
.product-detail h2{
    position: relative;
    text-transform: capitalize;
    color: #f9fafa;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 1.5rem;
    padding: 0.3rem;
    opacity: 1;
    color: #fffbfb;
}
.product-price p{
    color: #fffbfb;
    font-size: 1.8rem;
}

.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(./img/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 1;
    font-size: 1.5rem;
    color: #ddd;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #542bf6;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}


@media screen and (min-width: 992px){
    .background img{
       height: 800px
    }
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}

@media(max-width:650px) {
    .background img{
      height: 300vh;
      position: absolute;
      width: 200vh;
    }

    html {
        font-size: 50%;
    }

    .header form #search{
        width: auto;
        padding: 0 10px;
    }

    .header .header-1 div #login-btn i{
        display: block;
    }

    .header .header-2 div #login-btn .btn {
        display: none;
    }

    .header .header-2 .navbar{
        width: auto;
        position: relative;
        top: 25%;
        left: 0;
        right: 50;
        background: #0a0a0a;
        display:flex;
       box-shadow: 4px 4px 20px rgb(15 54 55 / 20%);
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      
    }

    .header .header-2 .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .header-2 nav ul li a{
        display: block;
        margin: 1rem;
        font-size: 1rem;
        float: none
    }

    .header .header-2 #menu-btn{
        display: block;
    }

    .header .header-2 #menu-btn.fa-xmark {
        transform: rotate(180deg);
    }

    .header .header-2.active{
        padding: 1rem;
    }
}